.container {
  /* display: flex; */
  justify-content: space-around;
  align-items: flex-start;

  /* border: 2px dashed rgba(114, 186, 94, 0.35); */
  height: 400px;
  /* background: rgba(114, 186, 94, 0.05); */
  position: -webkit-sticky;
  position: sticky;
  top: 2rem;
}
.form {
  margin-bottom: 10px;
  border: 0;
  padding: 0;
}
.form input[type="email"] {
  width: 100%;
  padding: 10px;
  display: block;
  border: 1px solid #ddd;
  border-color: #ddd;
  background-color: #f4f4f4;
  background-image: none;
  text-shadow: none;
  color: #444;
  font-size: 14px;
  line-height: normal;
  box-sizing: border-box;
  height: auto;
}
.submitBtn input[type="submit"] {
  width: auto !important;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  display: inline-block;
  line-height: 1;
  background: #19192a !important;
  border: 0px solid silver;
  cursor: pointer;
}

.sidebarContact {
  background: #85adff;
  padding: 20px;
  text-align: center;
  color: #fff;
  margin-top: 11px;
}
.sidebarContact h5 {
  color: #000113 !important;
  margin: 0px;
  padding: 20px 0px 20px;
  padding-top: 0;
}
.sidebarContact a {
  padding: 15px 30px;
  display: inline-block;
  color: #fff !important;
  margin-bottom: 15px;
  background: #000;
  font-weight: 300;
}
.sidebarContact small {
  display: block;
  font-style: italic;
  font-weight: 300;

}
