body {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  margin: 0;
  /* font-family: "Lato", sans-serif; */
}
a {
  text-decoration: none !important;
  color: #111 !important;
}
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  z-index: 211111;
  transition: transform 0.4s;
  background: white;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
  height: 48px;
  /* opacity: 100%; */
  /* display: none; */
}
.slick-slider.center.slick-initialized {
  width: 90%;
 
  margin-left: 4%;
}
.slick-prev:before, .slick-next:before {

  color: #111 !important;
}
hr{
  border-top: 1px solid rgba(0, 0, 0, 15.84) !important;
}
/* .header-container .header-inner {
  display: none;
} */

.scrollDown .header-container {
  transform: translate3d(0, -100%, 0);
  display: flex;
  margin-top: 35px;
}

.scrollUp .header-container {
  transform: none;
  /* display: none; */
}
