.contentLeft .heading {
  float: left;
  text-transform: uppercase;
  font-size: 14px;
  border: solid #111 1px;
  padding: 5px;
  font-weight: 600;
  width: 16%;
}
.contentLeft {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.loadMoreBtn {
  margin-bottom: 30px;
  width: auto !important;
  color: white;
  font-size: 16px;
  padding: 15px 30px;
  display: inline-block;
  line-height: 1;
  background: #19192a !important;
  border: 0px solid silver;
  cursor: pointer;
  border-radius: 0;
}
